/* Navigation styles */
#navBar {
    display: flex;
    width: 100%;
    position: relative; 
    text-align: center; 
    flex-direction: row;
}
.icon {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 11px;
    width: 7%;
    float: left;
    cursor: pointer;
}
img {
    cursor: pointer;
}
/* Navigation Text styles */
#navBar h1 {
    float: left;
    display: block;
    width: 23%;
    justify-content: left;
    font-family: 'Khula', sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #707070;
    margin-right: 80px;
}
#navigation {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 80px;
    margin-right: 53px;
}
#navigation a {
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-weight: 520;
    font-size: 22px;
    color: #707070;
}

/* Text styles */
.text h1 {
    font-family: 'Khula', sans-serif;
    font-size: 30px;
    font-weight: 520;
    margin-left: 150px;
    margin-right: 0px;
}
.text p {
    font-family: 'Khula', sans-serif;
    font-size: 30px;
    color: #707070;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 200px;
}
.text h2 {
    font-family: 'DM Serif Display', serif;
    line-height: 98px;
    font-size: 80px;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 300px;
}

/* Top Section styles */
.section1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #BFD7D9;
}
.left {
    width: 50%
}
.right {
    width: 50%;
}

/* Image styles */
.left img {
    margin-top: 171px;
    margin-bottom: 76px;
    margin-left: 160px;
    margin-right: 0px;
}

/* Second Section styles */
.section1 {
    display: flex;
    width: 100%;
}
.block1 {
    float: left;
    display: block;
    width: 50%;
    height: 937px;
    justify-content: left;
    background-color:#FFE6E6;
}
.block1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 700px;
}
.block2 {
    float: right;
    display: block;
    width: 50%;
    justify-content: right;
}

/* Third Section styles */
.section3 {
    display: flex;
    width: 100%;
    justify-content: flex-start;text-align: left; 
    height: 700px;
    background-color: #BFD7D9;
}
.section3 h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 80px;
    font-weight: 500;
    margin-top: 110px;
    margin-bottom: -10px;
    margin-left: 148px;
    margin-right: 80px;
}
.section3 h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 80px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 148px;
    margin-right: 0px;
}
.list ul {
    font-family: 'Khula', sans-serif;
    font-size: 30px;
    color: #707070;
    margin-left: 136px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}


/* Email Contact styles */
.section4 {
    display: flex;
    width: 100%;
    position: relative; 
    text-align: center; 
    flex-direction: row;
    height: 500px;
}
.email h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
    font-weight: 500;
    margin-top: 90px;
    margin-bottom: 0px;
    margin-left: 145px;
    margin-right: 0px;
}
.email button {
  justify-content: flex-start;
  cursor: pointer;
  font-family: 'Khula', sans-serif;
  font-size: 23px;
  color: #707070;
  text-align: center;
  padding: 20px;
  width: 350px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 50;
  margin-right: 350px;
  border-radius: 50px;
  height: 100px;
  background-color: white;
  transition: 0.6s ease;
}
  /* Button Active state */
.email button:hover {
  background-color: #FFE6E6;
  transform: scale(1.1);
}

/* Footer styles */
.footer {
    display: flex;
    width: 100%;
    position: relative; 
    text-align: center; 
    flex-direction: row;
    height: 200px;
    background-color: #BFD7D9;
}
.footer a {
    padding: 20px 25px;
    margin-top: 61px;
    cursor: pointer;
}
.in {
    margin-left: 125px;
} 