/* Navigation styles */
.navbar-nav {
    margin-left: auto;
    margin-right: 40px !important;
  }
  .nav-link {
    margin-left: 15px;
  }
  .bg-light {
    background-color: white !important;
  }
  .navbar-brand {
    margin-left: 15px;
  }
/* Navigation Text styles */
#navBar h1 {
    float: left;
    display: block;
    width: 23%;
    justify-content: left;
    font-family: 'Khula', sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #707070;
    margin-right: 80px;
}
#navigation {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 80px;
    margin-right: 53px;
}
#navigation a {
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-weight: 520;
    font-size: 22px;
    color: #707070;
}

/* About Me styles */ 
.container2 {
    background-color: #FFE6E6;
  }
  .about {
    padding: 3%;
    height: 100%;
  }
  .about h1 {
    font-size: 30px;
    margin-left: 3%;
    padding-top: 3%;
      }
  .about p {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 2%;
    padding-left: 0%;
    margin-right: 1%;
    margin-left: 3%;
    font-size: 20px;
    }
  .me img {
    display: flex;
    justify-items: flex-end;
    height: auto;
    width: 100%;
  }
  .me {
    padding: 0px;
  }
  
  /* Skills styles */
  .container3 {
    background-color: #BFD7D9;
    height: 320px;
  }
  .container3 h1 {
    padding-top: 55px;
    padding-bottom: 10px;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 35px;
    margin-left: 5%;
  }
  .container3 li {
    padding: .75%;
    font-size: 18px;
    margin-left: 5%;
  }
  

/* Contact Me styles */
.contact {
    margin: 50px auto;
    padding: 25px;
    border-radius: 7px;
    text-align: center;
  }
  .contact h2 {
    font-size: 32px;
    text-align: center;
  }

/* Email Contact styles */
.section4 {
    display: flex;
    width: 100%;
    position: relative; 
    text-align: center; 
    flex-direction: row;
    height: 340px;
}
.email h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 55px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 145px;
    margin-right: 0px;
}
.email button {
  cursor: pointer;
  font-family: 'Khula', sans-serif;
  font-size: 21px;
  color: #707070;
  padding: 20px;
  width: 250px;
  height: 70px;
  margin-left: 100;
  margin-right: -100px;
  margin-top: 50px;
  margin-bottom: 85px;
  border-radius: 50px;
  background-color: white;
  transition: 0.6s ease;
}
/* Button Active state */
.email button:hover {
  background-color: #FFE6E6;
  transform: scale(1.1);
}

/* Footer styles */
.footer {
    position: flex;
    width: 100%;
    height: 180px;
    line-height: 50px;
    background-color: #BFD7D9;
    cursor: pointer;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 100%;
    margin-top: 50px;
    padding-top: 4%;
  }
  .footer img {
   height: 23px;
  }
  .footer a {
    padding-left: 35px;
  } 
  